In [2]:
import pandas as pd

In [3]:
test_data = pd.read_csv("test.csv")

In [10]:
#1
print("Jumlah data test:", len(test_data))

Jumlah data test: 418

In [19]:
#2
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [25]:
#3
gender = test_data['Sex'] == 'male'
print(test_data.loc[gender])
print("Jumlah Data Penumpang Laki-laki:", len(test_data.loc[gender]))

     PassengerId  Pclass                          Name   Sex   Age  SibSp  \
0            892       3              Kelly, Mr. James  male  34.5      0
2            894       2     Myles, Mr. Thomas Francis  male  62.0      0
3            895       3              Wirz, Mr. Albert  male  27.0      0
5            897       3    Svensson, Mr. Johan Cervin  male  14.0      0
7            899       2  Caldwell, Mr. Albert Francis  male  26.0      1
..           ...     ...                           ...   ...   ...    ...
407         1299       1    Widener, Mr. George Dunton  male  50.0      1
413         1305       3            Spector, Mr. Woolf  male   NaN      0
415         1307       3  Saether, Mr. Simon Sivertsen  male  38.5      0
416         1308       3           Ware, Mr. Frederick  male   NaN      0
417         1309       3      Peter, Master. Michael J  male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
0        0              330911    7.8292   NaN        Q
2        0              240276    9.6875   NaN        Q
3        0              315154    8.6625   NaN        S
5        0                7538    9.2250   NaN        S
7        1              248738   29.0000   NaN        S
..     ...                 ...       ...   ...      ...
407      1              113503  211.5000   C80        C
413      0           A.5. 3236    8.0500   NaN        S
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

[266 rows x 11 columns]
Jumlah Data Penumpang Laki-laki: 266

In [17]:
#4
wanita = test_data['Name'].str.contains("James", case = False)
gender1 = test_data['Sex'] == 'female'
pria = test_data['Name'].str.contains("Samuel", case = False)
gender2 = test_data['Sex'] == 'male'

print(test_data.loc[wanita&gender1 | pria&gender2])
print("Jumlah data penumpang:",len(test_data.loc[wanita&gender1 | pria&gender2]))

     PassengerId  Pclass                                               Name  \
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
9            901       3                            Davies, Mr. John Samuel
110         1002       2                           Stanton, Mr. Samuel Ward
229         1121       2                 Hocking, Mr. Samuel James Metcalfe
257         1149       3                              Niklasson, Mr. Samuel
320         1212       3                        Andersson, Mr. Johan Samuel
343         1235       1  Cardeza, Mrs. James Warburton Martinez (Charlo...
353         1245       2                                 Herman, Mr. Samuel
362         1254       2       Ware, Mrs. John James (Florence Louise Long)
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)

        Sex   Age  SibSp  Parch     Ticket      Fare        Cabin Embarked
1    female  47.0      1      0     363272    7.0000          NaN        S
9      male  21.0      2      0  A/4 48871   24.1500          NaN        S
110    male  41.0      0      0     237734   15.0458          NaN        C
229    male  36.0      0      0     242963   13.0000          NaN        S
257    male  28.0      0      0     363611    8.0500          NaN        S
320    male  26.0      0      0     347075    7.7750          NaN        S
343  female  58.0      0      1   PC 17755  512.3292  B51 B53 B55        C
353    male  49.0      1      2     220845   65.0000          NaN        S
362  female  31.0      0      0   CA 31352   21.0000          NaN        S
391  female  51.0      0      1   PC 17592   39.4000          D28        S
Jumlah data penumpang: 10